.calculator {
    width: 250px;
    margin: 50px auto;
    align-content: right;
    background-color: greenyellow;
    padding: 20px;
    border: 5px solid rgb(42, 26, 26);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 00.5s;
}

#display {
    width: 90%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

button {
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}
.dack-mode {
    background-color: #333;
    color: #fff;
}

.dack-mode #display {
    background-color: #444;
    color: #fff;
}
.dack-mode button {
    background-color: #444;
    color: #fff;
}
.dack-mode button:hover {
    background-color: #555;
}
.light-mode {
    background-color: #f0f0f0;
    color: #000;
}
.light-mode #display {
    background-color: #fff;
    color: #000;
}
.light-mode button {
    background-color: #fff;
    color: #000;
}
.light-mode button:hover {
    background-color: #ccc;
}
